<!doctype html>
<!--[if IE 8]>         <html lang="en" class="ie ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en" class="ie ie9">        <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en">                       <!--<![endif]-->
  <head>
    <title><%= status_code %> Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    The server encountered an error: <%= status_code %> (<%= status_text %>)
  </body>
</html>
